#welcome {
	text-align: center;
	color: white;
}
#ships {
	text-align: center;
	color: white;
}
#select {
	text-align: center;
	color: white;
}
#shippic {
	text-align: center;
}
.box {
  padding: 10px;
  display: none;
  margin-top: 20px;
}
.box img {
  float: left
  width: 350px;
  height: 400px;
}
